 .footer_l {
     background-image: url(../img/review-bg-2.jpg);
     background-size: cover;
     border: 1px solid black;
 }

 .box1 {
     margin-top: 50px;
     height: 450px;
 }

 .lost {
     height: 100px;
     width: 100px;
 }

 .box-1 {
     height: 400px;
     width: 300px;
 }

 .lost-0 {
     height: 80px;
     width: 80px;
 }

 .lost-0 img {
     height: 100%;
     width: 100%;
 }

 .nav-item:hover a {
     color: #ffb320;
 }

 .nav-item a {
     color: white;
 }

 .post {
     position: relative;
     bottom: 100px;
     left: 130px;
     text-align: center;
     font-size: small;
     text-wrap: center;
 }

 .boxxer {
     height: 500px;
     position: relative;
      transition: transform .3s linear;

 }
 .boxxer:hover{
     transform: skewX(5deg);
     

 }
 .boxxer img{
     transition: transform .3s linear;

 }
.boxxer:hover img{
     box-shadow: 2px 20px 36px rgba(0,0,0,0.3);
}

 .overlay {
     position: absolute;
     height: 450px;
     width: 310px;
     inset: 0;
     bottom: 50px;
     background-color: rgba(0, 0, 0, .5);
 }

 .overlay h4 {
     position: absolute;
     top: 300px;
     left: 15px;

 }

 .overlay p {
     position: absolute;
     top: 390px;
     left: 15px;
 }

 #bb {
     height: 40px;
     position: absolute;
     font-size: small;
     background-color: #ff205f;
     top: 20px;
     left: 20px;
 }

 .andher {
     background-image: url(../img/recent-game-bg.png);
     background-size: cover;
     background-color: #eef2f6;

 }

 .carouselExample {
     position: relative;
 }

 .box1 {
     /* position: absolute; */
     top: 150px;
     height: 400px;
     border-top-right-radius: 50px;
     background-color: white;
     transform: skewX(0deg);
     overflow: hidden;

 }

 .box1:hover {
     color: #ff205f;
 }

 
 .card:hover {
     transform: scale('1.2');
 }

 .mid {
     background-image: url(../img/review-bg-2.jpg);
     background-size: cover;

 }

 .dids {
     background-image: url(../img/review-bg.png);
     background-size: cover;



 }

 .box1 img {
     height: 100%;
     width: 100%;
     border-top-right-radius: 50px;
     transition: transform .3s linear;


 }

 .box1:hover img {
     transform: scale(1.1);

 }

 .colgat {
     position: relative;
     padding: 30px;

 }

 .colgat img {
     transition: transform linear;
     transition-duration: 0s;
     
     
 }

 .colgat img:hover {
     transform: rotatex(90deg);
 }


 .lll {
     text-align: center;
     left: 250px;
     bottom: 100px;
     padding-bottom: 10px;
     margin-bottom: 30px;
 }

 .baby {
     margin-top: 50px;
     
 }


 .jakke {
     position: absolute;
     background-color: aquamarine;
     border-radius: 100%;
     font-size: xx-large;
     height: 50px;
     width: 65px;
     text-align: center;
 }

 .likhaa {
     text-align: center;
 }

 .abc {
     height: 400px;
 }

 .abc img {
     height: 300px;
     width: 350px;
     transition: transform linear;
     transition-duration: 2s;

 }

 .overlays {
     position: absolute;
     height: 100%;
     width: auto;
     inset: 0;

     background-color: rgba(0, 0, 0, .1);
 }

 .overlays h1 {
     position: absolute;
     top: 200px;
     left: 150px;
 }

 .overlays p {
     position: absolute;
     top: 250px;
     left: 150px;
 }

 .overlays button {
     position: absolute;
     top: 350px;
     left: 150px;
     height: 50px;
         font-size: medium;
     padding: 15px;     
     border-radius: 40% 10%/10% 40%;
     background-color: #ffb320;
     
 }
 .overlays:hover   button{
     background-color: rgb(39, 62, 212);
     color: #ff4880;
 }
 @media (max-width: 768px) {
  .overlays h1 {
    top: 100px;
    left: 20px;
    font-size: x-large;
  
  }
  .overlays p {
    top: 150px;
    left: 20px;
    display: none;
    
  }
  .overlays button {
    top: 220px;
    left: 20px;
    height: 40px;
    padding: 10px;
  }
}


 .akak a {
     text-decoration: none;
     display: inline-block;
     justify-content: space-between
 }
 

 .abc img:hover {
     transform: rotate(360deg);
 }

 .mm {
     width: 80%;
     float: right;

 }

 .fille {
     margin-top: 100px;
 }

 .nnn {
     position: absolute;
     background-color: #ffb320;
     height: 70px;
     width: 20%;
     left: 1px;
 }
 
